/* #F18B3E #443EE6 */
.aboutmeSection {
  background-image: url("../assets/backgorund.png");
  height: 100vh;
  background-position: fixed;
  padding: 1% 0%;
}
.parentDiv {
  border-radius: 2rem;
  border: 0.1rem solid grey;
  padding: 1% 10%;
  box-shadow: rgba(14, 14, 14, 0.346) 0px 14px 28px,
    rgba(0, 0, 0, 0.428) 0px 10px 10px;
}
.parentDiv:hover {
  border-color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.myImgTwo {
  max-width: 23rem;
  max-height: 23rem;
}
.myImgTwo img {
  height: 100%;
  width: 100%;
}
.titleNtext h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
}
.titleNtext p {
  font-size: 1.8rem;
  font-weight: 400;
}

.highlightedText h1 {
  font-size: 2rem;
  font-weight: 600;
  display: inline;
  color: #f18b3e;
}
.btn button {
  border: 0.1rem solid grey;
  font-size: 1rem;
}
.extraLink {
  padding: 1% 10%;
  border: 0.1rem solid grey;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.extraLink a {
  text-decoration: none;
  color: rgb(203, 203, 203);
  font-size: 1.3rem;
  font-weight: 400;
}
.extraLink a:hover {
  color: white;
  transition: 0.2s ease;
}
