.mainFooterDiv {
  background-image: url("../assets/backgorund.png");
  height: 100vh;
  background-position: fixed;
  padding: 1% 0%;
}
.titleimg {
  max-width: 100rem;
  max-height: 25rem;
}
.titleimg img {
  max-width: 100%;
  max-height: 100%;
}
.Subtitleimg {
  max-width: 100rem;
  margin-top: -25%;
}
.Subtitleimg img {
  max-width: 100%;
  max-height: 100%;
}
