.mainPDiv {
  background-image: url("../assets/backgorund.png");

  height: 100vh;
  background-position: fixed;
  padding: 1% 0%;
}
.subMain {
  border-radius: 2rem;
  border: 0.1rem solid grey;
  padding: 1% 10%;
  box-shadow: rgba(14, 14, 14, 0.346) 0px 14px 28px,
    rgba(0, 0, 0, 0.428) 0px 10px 10px;
}
.subMain:hover {
  border-color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.headTitle {
  text-align: center;
}
.headTitle h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
}
.noteDiv {
  padding: 0.5% 5%;
  border-radius: 2rem;
  margin-top: 3%;
  margin-bottom: 2%;
  border: 0.1rem solid grey;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.noteDiv h3 {
  margin-left: 1rem;
}

@media (min-width: 280px) and (max-width: 600px) {
  .cardDiv {
    overflow-y: scroll;
    max-height: 42rem;
  }
  .cardDiv::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .subMain {
    padding: 1% 5%;
    margin-top: 5%;
  }
  .headTitle h2 {
    font-size: 2.8rem;
  }
  .noteDiv {
    padding: 0.5% 2%;
    font-size: 0.9rem;
  }
}
@media (min-width: 570px) and (max-width: 600px) {
  .subMain {
    padding: 1% 7%;
    margin-top: 5%;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .cardDiv {
    overflow-y: scroll;
    max-height: 45rem;
  }
  .cardDiv::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .subMain {
    padding: 1% 4%;
    margin-top: 5%;
  }
  .headTitle h2 {
    font-size: 2.8rem;
  }
  .noteDiv {
    padding: 0.5% 2%;
    font-size: 0.9rem;
  }
}
