.logoSlide img {
  height: 6rem;
  margin-left: 2.8rem;
  cursor: pointer;
}
.logos {
  white-space: nowrap;
  position: relative;
  max-width: 100%;
}
.logos::before,
.logos::after {
  position: absolute;
  content: " ";
  display: block;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 4;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.logos:after {
  content: " ";
  right: 0%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0) 100%
  );
}
.logoSlide {
  animation: 15s slide infinite linear;
  display: inline-block;
}
.logos:hover .logoSlide {
  animation-play-state: paused;
}
.skillDivOne {
  background-image: url("../assets/backgorund.png");
  height: 20vh;
  background-position: fixed;
  overflow: hidden;
}

.skillDivTitles {
  max-width: 100%;
  max-height: 100%;
  padding: 1% 10%;
  margin-top: 5%;
  border-radius: 2rem;
  border: 0.1rem solid grey;
  /* box-shadow: rgb(9, 9, 9) 0px 14px 28px, rgba(0, 0, 0, 0.918) 0px 10px 10px; */
  box-shadow: rgba(14, 14, 14, 0.346) 0px 14px 28px,
    rgba(0, 0, 0, 0.428) 0px 10px 10px;
}
.skillDivTitles:hover {
  border-color: white;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.divTwo {
  background-image: url("../assets/backgorund.png");
  height: 90vh;
  background-position: fixed;
  overflow: hidden;
}
.skillDivTitles h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
}
.skillDivTitles h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.skillDivTitles h4 {
  font-size: 1.4rem;
  font-weight: 400;
}
.listitem h4 {
  margin: 0;
}
.listitem {
  list-style-type: circle;
}

ul {
  padding: 0;
}
.listitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  list-style: none;
  margin: 1rem 0rem;
  color: #706bef;
}
.lists {
  display: flex;
  justify-content: right;
}
.listOne,
.listTwo,
.listThree,
.listFour {
  margin-left: 5%;
}

.myImg {
  max-width: 23rem;
  max-height: 23rem;
  margin-left: -2rem;
}
.myImg img {
  height: 100%;
  width: 100%;
}
@media (min-width: 280px) and (max-width: 600px) {
  .logoSlide img {
    height: 4rem;
    margin-left: 2rem;
  }
  .skillDivOne {
    height: 20vh;
    overflow-y: scroll;
  }
  .skillDivOne::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .logos {
    white-space: wrap;
  }
  .skillDivTitles {
    padding: 1% 5%;
  }
  .skillDivTitles h2 {
    font-size: 2.8rem;
  }
  .skillDivTitles h3 {
    font-size: 1.2rem;
  }
  .skillDivTitles h4 {
    font-size: 1rem;
  }
  .listOne,
  .listTwo,
  .listThree,
  .listFour {
    padding-left: 2rem;
  }
  .listitle {
    font-weight: 400;
    font-size: 1.1rem;
    margin: 1rem 0rem;
  }
  .divTwo {
    height: 100vh;
  }
  .lists {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20rem 13rem 13rem;
    row-gap: 1rem;
  }
}
