.buttons {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  border: 0.1rem solid rgb(195, 195, 195);
}
.titles {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
}
.titleSub {
  font-size: 1.4rem;
}
.buttons button {
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: rgb(57, 57, 57);
  border: 0.1rem solid rgb(163, 163, 163);
}
.buttons a {
  text-decoration: none;
  color: rgb(57, 57, 57);
}
.buttons button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 37, 37);
  border: 0.1rem solid rgb(96, 96, 96);
}
.pcard {
  border: 0.1rem solid grey;
  border-radius: 2rem;
  height: 41rem;
  max-width: 30rem;
  margin-left: 18%;
}
.pcard:hover {
  cursor: pointer;
  border: 0.1rem solid rgb(255, 255, 255);
  transition: 0.1s ease;
}

@media (min-width: 280px) and (max-width: 600px) {
  .titles {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .titleSub {
    font-size: 1.3rem;
  }
  .pcard {
    height: 37rem;
    width: 24rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .buttons {
    margin-top: 0%;
  }
}
/* sx={{ maxWidth: 345, height: 450, marginLeft: 7, borderRadius: 4 }} */
